#gallery
	=button_tag 'CLOSE', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'
	#gallery-slides
		- @pieces.each do |piece|
			.slide
				=image_tag piece.image.url(:medium)
				.description=raw piece.description
	#prev=link_to raw('&#8592;'), '#'
	#next=link_to raw('&#8594;'), '#'