#gallery
	#gallery-header
		#gallery-header-left
			%ul.list-inline.list-unstyled
				%li= @artist.name
				-if !@artist.cv_link.blank?
					%li=link_to "cv", @exhibition.cv_link
		#gallery-header-right
			=button_tag image_tag("close.png"), :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'
	#gallery-slides
		-@artist.safe_piece_order.each do |id|
			-piece = Piece.find(id)
			.slide
				=image_tag piece.image.url(:large)
				.description
					%br
					=raw piece.description
	#prev=link_to raw('&#8592;'), '#'
	#next=link_to raw('&#8594;'), '#'