#artist-wrap
	#artist-inner
		%ul#artists.list-unstyled
			- @artists.each do |artist|
				%li=link_to artist.name, artist_url(artist), id: "#{artist.name.gsub(/\s+/, "")}", class: "artist-link"
#canvas
#random-images
	-@artists.each do |artist|
		=image_tag(artist.pieces.featured.sample.image.url(:medium), class: "#{artist.name.gsub(/\s+/, "")}-img", data: {artist: artist.name.gsub(/\s+/, "")}) unless artist.pieces.blank?

:javascript
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	 
	}else {
		$('#random-images img').one('load', function () {
			var imgWidth = $(this).width(),
				imgHeight = $(this).height(),
				posx = (Math.random() * $(document).width()).toFixed(),
				posy = (Math.random() * $(document).height()).toFixed(),
				randomNumber = Math.ceil(Math.random() * 200 + 100),
				artistName = $(this).data("artist");
			
			if(($(document).height() - posy) < randomNumber ){
				posy = $(document).height() - randomNumber;
			}
		
			if(($(document).width() - posx) < randomNumber ){
				posx = $(document).width() - randomNumber;
			}
			
			$(this)
				.css({
					"top": posy + "px",
					"left": posx + "px",
					"position":"fixed",
					"display":"none",
					"max-height": randomNumber + "px",
					"max-width": randomNumber + "px",
					"width": "auto",
					"height": "auto",
					"cursor": "pointer",
					"z-index": "-1"
				})
				.appendTo("#canvas")
				.click( function() {
					window.location.href = $("#" + artistName).attr("href");
				});

			$("#" + artistName).mouseover( function(event) {
				$("#canvas").find("img:visible").each( function(index, elem) {
					var z = parseInt( $(elem).css("z-index") );
					$(elem).css( "z-index", (z - 1) );
				});

				$("." + artistName + "-img").css("z-index", "-1").fadeIn();
			});

		}).each(function () {
			if (this.complete) $(this).load();
		});
	}