#artist-wrap
	#artist-inner
		%ul#artists.list-unstyled
			- @artists.each do |artist|
				%li=link_to artist.name, artist_url(artist), id: "#{artist.name.gsub(/\s+/, "")}", class: "artist-link"
#canvas
#random-images
	-@artists.each do |artist|
		=image_tag(artist.pieces.first.image.url(:medium), class: "#{artist.name.gsub(/\s+/, "")}-img", data: {artist: artist.name.gsub(/\s+/, "")}) unless artist.pieces.blank?

:javascript
	$('#random-images img').one('load', function () {
		do {
			var imgWidth = $(this).width(),
				imgHeight = $(this).height(),
				posx = (Math.random() * $(document).width()).toFixed(),
				posy = (Math.random() * $(document).height()).toFixed(),
				randomNumber = Math.ceil(Math.random() * 100 + 100),
				artist_name = $(this).data("artist");
				
			if(($(document).height() - posy) < randomNumber ){
				posy = $(document).height() - randomNumber;
			}
			
			if(($(document).width() - posx) < randomNumber ){
				posx = $(document).width() - randomNumber;
			}
			
			console.log("imgHeight: " + imgHeight )
			console.log("imgWidth: " + imgWidth )
			console.log("x: " + posx )
			console.log("y: " + posy )
			
			$(this)
				.css({
					"top": posy + "px",
					"left": posx + "px",
					"position":"fixed",
					"display":"none",
					"max-height": randomNumber + "px",
					"max-width": randomNumber + "px",
					"width": "auto",
					"height": "auto",
					"cursor": "pointer",
					"z-index": "-1"
				})
				.appendTo("#canvas")
				.click( function() {
					window.location.href = $("#" + artist_name).attr("href");
				});
		}
		while ($("#canvas").find("img").overlaps().length !== 0);
	}).each(function () {
		if (this.complete) $(this).load();
	});
	
	$(".artist-link").mouseover(function(){
		$("." + $(this).attr("id") + "-img").fadeIn();
	});