#artist
	#artist-info
		%h3=@artist.name
		%ul.list-unstyled
			%li=link_to 'Selected Work', '#'
			-unless @artist.exhibitions.blank? 
				%li=link_to 'Exhibitions', '#', class: "artist-exhibitions-link"
				%li
					%ul#artist-exhibitions.list-unstyled
						-@artist.exhibitions.each do |exhibition|
							%li=link_to exhibition.name, exhibition_url(exhibition), data: {remote: true}

			%li=link_to 'Press', '#'
			%li=link_to 'CV', '#'
	#artist-slides
		- @pieces.each do |piece|
			.slide
				=image_tag piece.image.url(:medium)
				- %w(title description year dimensions edition_details).each do |attr|
					- unless piece.send(attr).blank?
						%p.text-center
							="#{attr.titleize}: " unless %(title description).include?(attr)
							=piece.send(attr)
	#prev=link_to raw('&#8592;'), '#'
	#next=link_to raw('&#8594;'), '#'

:javascript
	$('#artist-slides').cycle({
		prev: $('#prev'),
		next: $('#next'),
		timeout: 0,
		before: function(){
			setTimeout(function(){
				centerSlides();
			}, 100);
		}
	});