#artist
	#artist-info
		%h3=@artist.name
		%ul.list-unstyled
			%li=link_to 'Selected Work', '#'
			%li=link_to 'Exhibition', '#'
			%li=link_to 'Press', '#'
			%li=link_to 'CV', '#'
	#artist-slides
		#cycle
			- @pieces.each do |piece|
				.slide
					=image_tag piece.image.url(:medium)
					%p.text-center=piece.title
					%p.text-center=piece.description

:javascript
	$('#cycle').cycle({
		prev: $('#prev'),
		next: $('#next')
	});
	