#artist.gallery
	.row
		.col-xs-2
			%h3=@artist.name
			%ul.list-unstyled
				%li=link_to 'Selected Work', artist_url(@artist, slide: 0), data: { remote: true }
				-unless @artist.exhibitions.blank? 
					%li=link_to 'Exhibitions', '#', class: "artist-exhibitions-link"
					%li
						%ul#artist-exhibitions.list-unstyled
							-@artist.exhibitions.each do |exhibition|
								%li=link_to exhibition.name, exhibition_url(exhibition, slide: 0), data: { remote: true }

				%li=link_to 'Press', '#'
				-unless @artist.cv_url.blank?
					%li=link_to 'CV', @artist.cv_url, target: "_blank"
		.col-xs-10
			.image-thumbs
				-unless @pieces.blank?
					-@artist.safe_piece_order.each_with_index do |id, index|
						=link_to image_tag(@artist.pieces.find_by_id(id).image.url(:thumb)), artist_url(@artist, slide: index), data: { remote: true }