.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
	.container
		.navbar-header
			%a.navbar-brand{href: '/'} Laurel Gitlen
		-if current_user
			%ul.nav.navbar-nav
				%li{class: ['exhibitions', 'displays'].include?(controller_name) ? 'active' : ''}
					=link_to 'Exhibitions', admin_exhibitions_url
				%li{class: ['artists', 'works'].include?(controller_name) ? 'active' : ''}
					=link_to 'Artists', admin_artists_url