#gallery
	=button_tag image_tag("close.png"), :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'
	#gallery-slides
		-@exhibition.safe_piece_order.each do |id|
			-piece = Piece.find(id)
			.slide
				=image_tag piece.image.url(:large)
				.description
					=@exhibition.name
					%br
					-if piece.artist.try(:name)
						=piece.artist.name
						%br
					=raw piece.description
	#prev=link_to raw('&#8592;'), '#'
	#next=link_to raw('&#8594;'), '#'