.exhibition-images.image-thumbs
  .row.exhibition-description
    .col-sm-6=exhibition.description
  -unless exhibition.pieces.blank?
    -exhibition.safe_piece_order.each_with_index do |id, index|
      %a{ href: exhibition_url(exhibition, slide: index) }
        =image_tag("blank.gif", data: { src: pieces.select {|p| p.id == id }.first.image.url(:thumb) })