.exhibition-images.image-thumbs
	-unless exhibition.pieces.blank?
		-exhibition.safe_piece_order.each_with_index do |id, index| 
			=link_to image_tag(exhibition.pieces.find_by_id(id).image.url(:thumb)), exhibition_url(exhibition, slide: index), data: { remote: true }