#exhibitions
	.col-md-12
		- @exhibitions_by_year.each do |year, exhibitions|
			.row
				.col-md-1
					.year=year
				.col-md-11
					-exhibitions.each do |exhibition|
						.exhibition{class: exhibition.art_fair ? "art-fair" : ""}
							.exhibition-info{ class: exhibition.pieces.blank? ? "empty" : "toggleable"  }
								%span=exhibition.name
								%span=exhibition.artists.map {|a| a.name}.join(', ')
								%span.text-right="#{exhibition.begins.strftime('%m.%d.%y')}-#{exhibition.ends.strftime('%m.%d.%y')}"
							- unless exhibition.pieces.blank?
								=render 'images', exhibition: exhibition