#exhibitions
	- @exhibitions_by_year.each do |year, exhibitions|
		.row
			.col-xs-1
				.year=year
			.col-xs-11
				-exhibitions.each do |exhibition|
					.exhibition{class: exhibition.art_fair ? "art-fair" : ""}
						.exhibition-info{ class: exhibition.pieces.blank? ? "empty" : "toggleable"  }
							%span=exhibition.name
							%span=exhibition.artists.first.try(:name) if exhibition.artists.count == 1
							%span.text-right="#{exhibition.begins.strftime('%m.%d.%y')}-#{exhibition.ends.strftime('%m.%d.%y')}"
						- unless exhibition.pieces.blank?
							=render 'images', exhibition: exhibition


:javascript
	$("img").each( function(){
		$(this).attr("src", $(this).data("src"));
	});