=form_for [:admin, @story], html: {class: "form"} do |f|
	.control-group
		=f.label :date
		=f.date_select :date
	.control-group
		=f.text_area :story
	-if @story.new_record?
		.form-group
			=f.submit 'Save', class: 'btn btn-default'
		
:javascript
	$("#story_story").jqte({
		center: false,
		color: false,
		fsize: false,
		format: false,
		left: false,
		ol: false,
		indent: false,
		outdent: false,
		remove: false,
		right: false,
		sub: false,
		strike: false,
		source: false,
		sup: false,
		title: false,
		ul: false
	});
	
-unless @story.new_record?
	:javascript
		$(".form").data("remote", true);
