=form_for [:admin, @artist], html: {role: 'form'}, data: {remote: !@artist.new_record?} do |f|
	%fieldset
		.form-group
			=f.label :name
			=f.text_field :name, class: 'form-control'
		-if @artist.new_record?
			.form-group
				=f.submit 'Save', class: 'btn btn-default'
