=form_for [@orderable], url: @orderable.is_a?(Artist) ? admin_artist_orders_url(@orderable) : admin_exhibition_orders_url(@orderable), method: 'post', html: {style: 'display:inline;', id: 'order-form', data: {remote: 'true'}} do |f|
  = hidden_field_tag "order_string", '', id: 'order-field'
  
  = f.submit 'Save Order', class: 'btn btn-success navbar-btn btn-small'