%p
	= s3_uploader_form callback_url: press_release_callback_admin_exhibition_url(@exhibition), callback_param: "exhibition[press_release_url]", id: "s3-uploader" do
		%span.btn.btn-default.fileinput-button
			%span Add Press Release
			= file_field_tag :file, multiple: true

%script#template-upload{type: "text/x-tmpl"}
	%p
		.progress
			.progress-bar.bar{style: "width: 0%", role: 'progress-bar'}