#work-summary.well.well-lg
	%h3
		=@exhibition.name
		%small=link_to 'Edit Details', edit_admin_exhibition_url(@exhibition), data: {remote: "true"}
	%p
		%strong="#{@exhibition.begins.strftime('%d.%m.%Y')}–#{@exhibition.ends.strftime('%d.%m.%Y')}"
	%p=@exhibition.description
	%p=raw @artists.map { |a| a.name }.join(" &mdash; ")
	%p
		%strong= @exhibition.press_release_url.blank? ? "No Press Release" : link_to( "Press Release", @exhibition.press_release_url, target: "_blank")
		|
		=link_to "Upload Press Release", edit_admin_exhibition_url(@exhibition, press_release: "true"), data: {remote: "true"}