.navbar.navbar-default
	.container
		=link_to 'Create Exhibition', new_admin_exhibition_url, :class => 'btn btn-default navbar-btn btn-small'
%table.table
	%thead
		%tr
			%th Exhibition
			%th Start Date
			%th Links
	%tbody
		- @exhibitions.each do |exhibition|
			%tr{class: "admin-exhibition", id: "admin-exhibition-#{exhibition.id}"}
				%td= exhibition.name
				%td= exhibition.begins.strftime('%m.%d.%y')
				%td
					=link_to 'Edit', admin_exhibition_url(exhibition)
					|
					=link_to "Delete", admin_exhibition_url(exhibition), data: {method: "delete", remote: "true", confirm: "Are you sure you want to delete #{exhibition.name}?"}
