.navbar.navbar-default
	.container
		=link_to 'Create Exhibition', new_admin_exhibition_url, :class => 'btn btn-default navbar-btn btn-small'

- @exhibitions.each do |ex|
	.panel.panel-default
		.panel-heading
			=ex.name
		.panel-body
			%ul.list-inline
				%li=link_to 'Edit', admin_exhibition_url(ex)