.well.well-lg
	%h3
		=@exhibition.name
		%small=link_to 'Edit Details', edit_admin_exhibition_url(@exhibition)
	%p
		%strong="#{@exhibition.begins.strftime('%d.%m.%Y')}–#{@exhibition.ends.strftime('%d.%m.%Y')}"
	%p=@exhibition.description
	%p=raw @artists.map { |a| a.name }.join(" &mdash; ")

#works
	.navbar.navbar-default
		.container
			=link_to 'Add Works', new_admin_exhibition_display_url(@exhibition), class: 'btn btn-default navbar-btn btn-small get'
			=link_to 'Order Works', new_admin_exhibition_order_url(@exhibition, order: 'works'), class: 'btn btn-default navbar-btn btn-small get works-order-link'
	#work-list
		-unless @exhibition.pieces.blank?
			- @exhibition.piece_order.each do |id|
				- work = @exhibition.pieces.find(id)
				.work-frame{id: "work_#{work.id}", data: {'record-id' => work.id}}
					%p=work.name
					%p=image_tag work.image.url(:thumb)