=render "summary"
#works
	.navbar.navbar-default
		.container
			=link_to 'Add Works', new_admin_exhibition_display_url(@exhibition), class: 'btn btn-default navbar-btn btn-small get'
			=link_to 'Order Works', new_admin_exhibition_order_url(@exhibition, order: 'works'), class: 'btn btn-default navbar-btn btn-small get works-order-link'
	#work-list
		-unless @exhibition.pieces.blank?
			- @exhibition.safe_piece_order.each do |id|
				=render "admin/displays/single", piece: @exhibition.pieces.find(id)
