=form_for @piece, url: admin_artist_work_url(@artist, @piece), html: {class: "form", data:{remote: "true"}} do |f|
	.control-group
		=f.label :artist_name
		=f.text_field :artist_name, class: 'form-control'
	.control-group
		= f.label :title 
		= f.text_field :title, class: 'form-control'
	.control-group
		=f.label :description
		=f.text_area :description, class: 'form-control'
	.control-group
		=f.label :year
		=f.select :year, (1950..Date.today.year).to_a.reverse, {}, {class: 'form-control'}
	.control-group
		=f.label :dimensions
		=f.text_field :dimensions, class: 'form-control'
	.control-group
		=f.label :edition_details
		=f.text_area :edition_details, class: 'form-control'
