=form_for @piece, url: admin_artist_work_url(@artist, @piece), html: {class: "form", data:{remote: "true"}} do |f|
	%p.text-center
		= image_tag @piece.image.url(:thumb)
		%br
		= @piece.image_file_name
		
	.control-group
		=f.label :artist_name
		=f.text_field :artist_name, class: 'form-control', value: @piece.artist.try(:name)
	.checkbox
		%label
		=f.check_box :featured
		Featured piece
	.control-group
		=f.label :description
		=f.text_area :description, class: 'form-control'

:javascript
	$("#piece_description").jqte({
		center: false,
		color: false,
		fsize: false,
		format: false,
		left: false,
		ol: false,
		indent: false,
		outdent: false,
		remove: false,
		right: false,
		sub: false,
		strike: false,
		source: false,
		sup: false,
		title: false,
		ul: false,
		p: false
	});
