#contact.row
	.col-lg-2.col-md-2
		%p 
			Laurel Gitlen
			%br
			Owner/Director
		%p —
		%p 
			Christopher Aque
			%br
			Assistant Director
	.col-lg-2.col-md-2
		%address
			122 Norfolk Street
			%br
			New York, NY 10002
		%p &mdash;
		%p
			Monday–Friday
			%br
			11am–6pm
		%p &mdash;
		%p
			=link_to "gallery@laurelgitlen.com", "emailto:gallery@laurelgitlen.com"
			%br
			=link_to "P 212.274.0761", "tel:+12122740761"
			%br
			=link_to "F 212.590.6191", "tel:+12125906191"
	.col-lg-4.col-md-4
		=image_tag 'bw_map_lg.png'