#contact.row
  .col-sm-2
    %p Laurel Gitlen <br> Owner/Director
    %p Christopher Aque <br> Assistant Director
    %p Margaret Kross <br> Assistant Director
  .col-sm-3
    %address
      122 Norfolk Street
      %br
      New York, NY 10002
    %p &mdash;
    %p
      Summer Hours 
      %br
      Monday–Friday
      %br
      11am–6pm
    %p &mdash;
    %p
      =link_to "gallery@laurelgitlen.com", "emailto:gallery@laurelgitlen.com"
      %br
      =link_to "P 212.274.0761", "tel:+12122740761"
      %br
      =link_to "F 212.590.6191", "tel:+12125906191"
  .col-sm-6
    = link_to image_tag('bw_map_lg.png'), "https://www.google.com/maps/place/Laurel+Gitlen/@40.719303,-73.986743,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2598715d95f43:0x6f1d64beff03d10b", target: "_blank"