#contact.row
  .col-sm-2
    %p Laurel Gitlen <br> Owner/Director
    %p Christopher Aque <br> Assistant Director
    %p Margaret Kross
  .col-sm-3
    %address
      122 Norfolk Street
      %br
      New York, NY 10002
    %p &mdash;
    %p
      Wednesday–Sunday
      %br
      11am–6pm
    %p &mdash;
    %p
      =link_to "gallery@laurelgitlen.com", "emailto:gallery@laurelgitlen.com"
      %br
      =link_to "P 212.274.0761", "tel:+12122740761"
      %br
      =link_to "F 212.590.6191", "tel:+12125906191"
  .col-sm-6
    =image_tag 'bw_map_lg.png'