#stories
	- @artists.each do |artist|
		.row
			.col-xs-2
				%h5= artist.name
			.col-xs-6
				- artist.stories.featured.each do |story|
					.story
						=raw story.story
	
	=link_to 'See news archives >', '/archives' 