#splash
	%h2#splash-date.text-center
		=raw @exhibition.begins.strftime("%m.%d&mdash;")
		%br
		=@exhibition.ends.strftime("%m.%d.%y")
	%h2#splash-title.text-center
		=link_to @exhibition.name, exhibition_url(@exhibition)
		-unless @exhibition.artists.blank?
			%br
			&mdash;
	%h2#splash-exhibitions.text-center=raw @exhibition.artists.map{ |a| a.name }.join('<br/>')