  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'simplon_bp_medium';
    src: url(font-path('simplon_bp_medium.eot'));
    src: url(font-path('simplon_bp_medium.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('simplon_bp_medium.woff')) format('woff'), 
         url(font-path('simplon_bp_medium.ttf'))  format('truetype'),
         url(font-path('simplon_bp_medium.svg') + "#simplon_bp_medium") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'relativelg-medium';
    src: url(font-path('Relative-Medium.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('Relative-Medium.woff')) format('woff'), 
         url(font-path('Relative-Medium.ttf'))  format('truetype'),
         url(font-path('Relative-Medium.svg') + "#Relative-Medium") format('svg');
}
@font-face {
    font-family: 'relativelg-regular';
    src: url(font-path('Relative-Book.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('Relative-Book.woff')) format('woff'), 
         url(font-path('Relative-Book.ttf'))  format('truetype'),
         url(font-path('Relative-Book.svg') + "#Relative-Book") format('svg');
}
@font-face {
    font-family: 'relativelg-medium-italic';
    src: url(font-path('RelativeLG-MediumItalic.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('RelativeLG-MediumItalic.woff')) format('woff'), 
         url(font-path('RelativeLG-MediumItalic.ttf'))  format('truetype'),
         url(font-path('RelativeLG-MediumItalic.svg') + "#RelativeLG-MediumItalic") format('svg');
}

@font-face {
    font-family: 'relative-10pitch';
    src: url(font-path('relative-10pitch.eot'));
    src: url(font-path('relative-10pitch.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('relative-10pitch.woff')) format('woff'), 
         url(font-path('relative-10pitch.ttf'))  format('truetype'),
         url(font-path('relative-10pitch.svg') + "#relative-10pitch") format('svg');
}


/* Exterior
**********************/
html, body{
  height: 100%;
}
#main{
  min-height:100%;
  width:100%;
  overflow:auto;
  margin-bottom:-40px;
}
#main:after {
  content: "";
  display: block;
  height:40px;
}
footer{
  font-family: 'relativelg-regular';
  font-size:14px;
  position:relative;
  height:20px;
  padding:10px 0;
  text-align:center;
  clear:both;
  text-transform:uppercase;
  color:black;
  letter-spacing:1px;
  @media (max-width: 480px){
    font-size: 12px;
  }
}
#inner{
  padding:55px 20px 0;
}
body.exterior{
  position:relative;
  height:100%;
  font-family:'relativelg-regular', Helvetica, sans-serif;
  h1,h2,h3,h4,h5,p,li,a{
    font-family:'relativelg-regular', Helvetica, sans-serif;
  }
  h2{
    font-size:36px;
  }
  .container{
    margin-left:20px;
    height:100%;
  }
  a{
    color:black;
  }
}

nav{
  color:black;
  background:white;
}

// --- Header and nav ----
header{
  background: white;
  z-index: 1049;
}
.navbar-default{
  background: white;
  text-align: center;
  border: none;
  
  .navbar-brand{
    font-family: 'simplon_bp_medium';
    text-transform: uppercase;
    font-size:22px;
    color: black;
    letter-spacing: 1px;
    width: 210px;
  }
  .navbar-nav{
    float: none;
    display: inline-block;
    @media (min-width: 768px){
      margin-left: -210px;
    }
  }
  
  .navbar-nav > li{
    &.active > a{
      color: black;
      background: white;
      text-decoration: underline;
      &:hover{
        color: black;
        background: white;
      }
    }
    > a{
      color: black;
      background: white;
      font-family: 'relativelg-regular';
      text-transform: uppercase;
      letter-spacing: 1px;
      &:hover{
        background: white;
        text-decoration: underline;
      }
    }
  } 
}




//--- Splash page ---

#splash{
  width:100%;
  height:100%;
  font-family:"relativelg-regular";
  font-size:26px;
  line-height:38px;
  margin-bottom:-40px;
  overflow:auto;
  padding-top:135px;
  &:after {
    content: "";
    display: block;
    height:40px;
  }
  @media (min-width: 768px){
    font-size:44px;
    line-height:52px;
  }
  @media (max-width: 480px){
    font-size: 18px;
    line-height: 26px;
  }
  display:table;
  left:0;
  top:0;
}
#splash-wrap{
  display:table-row;
}
#splash-content{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color:#000;
  a{
    color:#000;
  }
}

#contact{
  margin-top:60px;
  @media (max-width: 768px){
    text-align:center;
    font-size:16px;
    div::after{
      content: "•";
      display: block;
      margin:15px;
      font-size:20px;
    }
  }
}

.exhibition-year{
  padding-top:6px;
  font-size:12px;
  font-family:"relative-10pitch";
  @media (max-width:768px){
    text-align:center;
    font-size:16px;
    margin-top:40px;
  }
}
.exhibition{
  position:relative;
  border-top:1px solid #ddd;
  font-size:12px;

  &.art-fair{
    color:#ccc;
  }
  &.toggleable{
    cursor:pointer;
    &:hover .exhibition-info{
      background:#fafafa;
    }
  }
  .current{
    position: absolute;
    left: -70px;
    top: 4px;
    color: #333;
  }
}
.exhibition-description{
  font-size:12px;
  font-family:"relativelg-regular";
}
.exhibition-info{
  padding:5px 0;
  
  .col-sm-4{
    &:last-child{
      text-align:right;
      @media (max-width:768px){
        text-align:left;
      }
    }
    
  }
}

.exhibition-images{
  display:none;
  @media (max-width:768px){
    text-align: center;
  }
}
.image-thumbs{
  margin:10px 0;
  overflow:auto;
  overflow-y:hidden;
  a{
    border:0;
    outline:0;
    text-decoration:0;
    color:white !important;
    background:white;
  }
  img{
    margin:10px 10px 0 0;
    color:white;
  }
  
}

#prev{
  position:absolute;
  top:50%;
  z-index:999;
  left:30px;
  margin-top:20px;
  a:hover{
    text-decoration:none;
  }
}
#next{
  position:absolute;
  top:50%;
  right:30px;
  z-index:998;
  margin-top:20px;
  a:hover{
    text-decoration:none;
  }
}
.slide{
  text-align:center;
  width:100%;
}
.slide {
  img{
    margin-bottom:15px;
    opacity:0;
  }
  .description{
    font-size:13px !important;
    line-height:15px !important;
    position:fixed;
    bottom:30px;
    left:30px;
    text-align:left;
    span, p, i, em, strong {
      font-size:13px !important;
      line-height:15px !important;
      margin-bottom:0;
      padding-bottom:0;
    }
    
  }
}
#artists{
  font-size:18px;
}
#artist-exhibitions{
  display:none;
  a{
    color:#999 !important;
  }
}
#exhibitions{
  margin-top:40px;
  .exhibition, .year{
    font-size:14px;
  }
}
  
#stories{
  margin-top:40px;
  font-size:14px !important;
  font-family:'relativelg-regular' !important;

  .story:last-child{
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
  }
  .story{
    font-family:'relativelg-regular' !important;
    font-size:14px !important;
    line-height:20px !important;
    margin-bottom:0;
    padding-bottom:0;
    margin-bottom:10px;
    span, p, i, em, strong, a {
      font-family:'relativelg-regular' !important;
      font-size:14px !important;
      line-height:20px !important;
      margin-bottom:0 !important;
      padding-bottom:0  !important;
    }
    a{
      text-decoration:underline;
    }
  }
}

#artist-wrap{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: table;
  left: 0;
}
#artist-inner{
  display:table-row;
}
#artists{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


#canvas{
  position:relative;
}
#random-images img{
  display:none;
  position:absolute;
}

#gallery{
  z-index:1050;
  top:0;
  left:0;
  position:fixed;
  background:white;
  width:100%;
  height:100%;
  
  #gallery-header{
    height: 52px;
    display:table;
    border-bottom: 1px solid black;
    width:100%;
    a{
      color:#ccc !important;
    }
    #gallery-header-left{
      display:table-cell;
      vertical-align:middle;
      width:90%;
      padding-left:30px;
    }
    #gallery-header-right{
      display:table-cell;
      vertical-align:middle;
      text-align:right;
      width:10%;
      padding-right:30px;
      .close{
        opacity:1;
      }
    }
    
    ul{
      font-size:13px;
      margin-bottom:0;
      li{
        margin-right:10px;
      }
    }
  }

}

/* Admin
**********************/
body.admin{
  padding-top:70px;
}
.upload{
  border:none;
  width:auto;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 36px;
  direction: ltr;
  cursor: pointer;
}
.work-frame{
  padding:10px;
  background:#efefef;
  margin-right:10px;
  margin-bottom:10px;
  float:left;
  position:relative;
  ul{
    position:absolute;
    bottom:3px;
    right:10px;
  }
}
.artist-checks .checkbox{
  float:left;
  padding:10px;
  margin:10px;
}
body.sorting .work-frame{
  box-shadow:2px 2px 8px 2px #666;
  cursor:move;
}
.admin-story{
  border-bottom:1px dotted black;
  padding-bottom:10px;
  margin-bottom:10px;
}
.jqte {
  margin:10px 0 !important;
}
.numbers{
  font-family: 'relative-10pitch' !important;
}
.admin-artist.non-roster{
  display:none;
}
#news-upload{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.image-wrap {
  line-height:100%;
  text-align: center;
  background: white;
  font-size:0;
  display:inline-block;
  &.loading {
    height:90px;
    min-width:90px;
  }
}