/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'simplon_bp_medium';
    src: url(font-path('simplon_bp_medium.eot'));
    src: url(font-path('simplon_bp_medium.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('simplon_bp_medium.woff')) format('woff'), 
         url(font-path('simplon_bp_medium.ttf'))  format('truetype'),
         url(font-path('simplon_bp_medium.svg') + "#simplon_bp_medium") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'relativelg-medium';
    src: url(font-path('relativelg-medium.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('relativelg-medium.woff')) format('woff'), 
         url(font-path('relativelg-medium.ttf'))  format('truetype'),
         url(font-path('relativelg-medium.svg') + "#relativelg-medium") format('svg');
}
@font-face {
    font-family: 'relativelg-regular';
    src: url(font-path('relativelg-regular.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('relativelg-regular.woff')) format('woff'), 
         url(font-path('relativelg-regular.ttf'))  format('truetype'),
         url(font-path('relativelg-regular.svg') + "#relativelg-regular") format('svg');
}
@font-face {
    font-family: 'relativelg-medium-italic';
    src: url(font-path('relativelg-medium-italic.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('relativelg-medium-italic.woff')) format('woff'), 
         url(font-path('relativelg-medium-italic.ttf'))  format('truetype'),
         url(font-path('relativelg-medium-italic.svg') + "#relativelg-medium") format('svg');
}

/* Exterior
**********************/

#main{
	width:100%;
	min-width:960px;
	min-height:640px;
}
#inner{
	margin:100px 50px 0;
}
body.exterior{
	min-height:640px;
	position:relative;
	height:100%;
	font-family:'relativelg-regular', Helvetica, sans-serif;
	h1,h2,h3,h4,h5,p,li,a{
		font-family:'relativelg-regular', Helvetica, sans-serif;
	}
	h2{
		font-size:36px;
	}
	.container{
		margin-left:20px;
		height:100%;
	}
	a{
		color:black !important;
	}
	header{
		position: fixed;
		top: 0;
		padding: 20px 0;
		height: 60px;
		width: 100%;
		background: white;
		z-index: 1049;
		
		h1{
			font-size:20px;
			line-height:20px;
			margin:0;
			top:20px;
			left:50px;
			position:fixed;
			text-transform:uppercase;
			font-weight:bold;
			z-index:100;
		}
		nav{
			position:fixed;
			width:100%;
			left:0;
			min-width:960px;
			ul{
				width:403px;
				margin:auto;
				z-index:99;
				li{
					font-size:14px;
					font-weight:100;
					padding:0 23px;
					
					a{
						font-family: 'simplon_bp_medium', monospace;
						letter-spacing:1px;
						text-transform:uppercase;
						&:hover{
							text-decoration:underline;
						}
						&.active{
							font-style:underline; 
						}
					}
					
				}
				li:first-child{padding-left:0}
				li:last-child{padding-right:0}
			}
			
		}
	}
	#splash{
		width:100%;
		height:100%;
		min-width:960px !important;
		min-height:480px !important;
		position:fixed;
		font-family:"relativelg-medium";
		font-size:36px;
		line-height:42px;
		display:table;
		left:0;
		top:0;
		#splash-wrap{
			display:table-row;
			#splash-content{
				font-family: 'relativelg-regular';
				display:table-cell;
				vertical-align:middle;
				text-align:center;
				strong{
					display:inline-block;
					padding-bottom:15px;
					font-family: 'relativelg-medium';
				}
			}
		}
		h2{
			height:50px;
			left:0;
			&:nth-child(2){
				top:50%;
				margin-top:-25px;
			}
			&:first-child{
				bottom:50%;
				margin-bottom:75px;
			}
			&:last-child{
				top:50%;
				margin-top:75px;
			}
		}
	}
	footer{
		font-family: 'simplon_bp_medium', monospace;
		position:fixed;
		bottom:0;
		width:100%;
		min-width:960px;
		text-align:center;
	}
	
	#contact{
		margin-top:60px;
	}
	
	.year{
		font-size:10px;
	}
	.exhibition{
		.toggleable{
			cursor:pointer;
		}
		border-top:1px solid black;
		font-size:12px;
		span{
			width:33%;
			display:inline-block;
		}
	}
	.exhibition-images{
		display:none;
	}
	.image-thumbs{
		margin:10px 0;
		overflow:auto;
		overflow-y:hidden;
		img{
			margin:10px 10px 0 0;
		}
		
	}
	
	#prev{
		position:absolute;
		top:250px;
		z-index:50;
	}
	#next{
		position:absolute;
		top:250px;
		right:50px;
		z-index:50;
	}
	.slide{
		text-align:center;
		width:100%;
	}
	.slide {
		font-size:12px !important;
		img{
			margin-bottom:15px;
		}
		p.text-center{
			margin-bottom:5px;
		}
	}
	#artists{
		font-size:18px;
	}
	#artist-exhibitions{
		display:none;
		a{
			color:#999 !important;
		}
	}
	#exhibitions{
		margin-top:40px;
		.exhibition, .year{
			font-size:14px;
		}
	}
	
	#stories{
		font-family:Monospace;
		font-size:12px;
		h5{
			font-family:Monospace;
			font-size:13px;
			font-weight:bold;
			margin-top:15px;
			text-transform:uppercase;
		}
		p, a{
			font-family:Monospace;
			font-size:14px;
			margin-bottom:3px;
		}
		.story{
			margin-bottom:10px;
		}
	}
}

#canvas{
	position:relative;
}
#random-images img{
	display:none;
	position:absolute;
}

#gallery{
	z-index:1050;
	position:fixed;
	background:white;
	top:50px;
	padding-top:50px;
	width:100%;
	border-top:1px dotted black;
	height:100%;
	#prev{
		left:50px;
	}
	.close{
		margin-right: 50px;
		margin-top: -37px;
	}
}

/* Admin
**********************/
body.admin{
	padding-top:70px;
}
.upload{
	border:none;
	width:auto;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 36px;
  direction: ltr;
  cursor: pointer;
}
.work-frame{
	padding:10px;
	background:#efefef;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
	position:relative;
	ul{
		position:absolute;
		bottom:3px;
		right:10px;
	}
}
.artist-checks .checkbox{
	float:left;
	padding:10px;
	margin:10px;
}
body.sorting .work-frame{
	box-shadow:2px 2px 8px 2px #666;
	cursor:move;
}
.admin-story{
	border-bottom:1px dotted black;
	padding-bottom:10px;
	margin-bottom:10px;
}
.jqte {
	margin:10px 0 !important;
}
