!!! 5
%html
	%head
		%title Laurel Gitlen 
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
%body.admin
	=render 'admin/header'
	.container
		= yield